---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
import School from "../components/icons/School.astro"
import Academic from "../components/Academic.astro"
---
<!--
        <img
        class="rounded-full size-12 mb-4"
        src="#"
        alt="midudev photo"
      />
-->
<Layout
  title="David Chilo - Ingeniero en Redes y Telecomunicaciones"
  description="Contrata a David Chilo como Ingeniero DevOps."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">

      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy David Chilo <a
          href="https://linkedin.com/in/davidchilo"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>Egresado de Ingeniería en Redes y Telecomunicaciones.</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Ingeniero DevOps</span
        >
         .<span class="text-red-800 dark:text-red-200">
          De Santa Cruz, Bolivia</span
        >.
        <span class="text-sky-800 dark:text-sky-200"
          >Especializado en crear soluciones únicas.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/davidchilo">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/dchilo">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill>
        <SocialPill href="mailto:dchilo22@gmail.com">
          <MailIcon class="size-4 md:size-6" />
           dchilo22@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="academico">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <School class="size-7" />
         Educación
      </h2>
      <Academic />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
